# Byte-compiled / optimized / DLL filesS
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs 
*.log

# Virtual environments
venv*/
.env/

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Tests
/tests/__pycache__/

# jac2py Converted files
*_converted.py

# cached .json and image files
*.json
*png